/*la toate*/
body{
	font-family:'JosefinSans-Regular';
}
.table{
	display:table;
}
.top,.main,.main2,.main3{
	display:table-row;
	width:100%;
}
.cell{
	display: table-cell;
}
body,html,.table{
	margin:0;
	border:0;
	padding: 0;
	width: 100%;
}
.top{
	height:100px;
    position: sticky;
    top: 0;
    z-index: 3;
}
.top h1{
	font-family: 'JosefinSans-Light';
	float:left;
	font-size:33px;
}
.top h1 a{
	text-decoration: none;
	color:rgb(14,28,35);
}

.top ul li{
	padding-top:15px;
	padding-left:10px;
	color:rgb(14,28,35);
	display: inline-block;
}
.cell1 ul{
	float:right;
	margin-right:20px;
}
.cell1 h1{
	float:left;
	margin-left:19px;
}
.cell1{
	vertical-align: middle;
	background-color: white;
	z-index:3;
    position: sticky;
    top: 0;
}
.cell1 ul li a{
	text-decoration: none;
	color:rgb(14,28,35);
	transition-duration: 0.4s;
}
.cell ul li a:hover{
	color:rgb(75,115,82);
}
#curent{
	color:rgb(75,115,82);
}
/*pana aici*/
.cell2{
	background:url("../imagini/bacteriadete.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    background-attachment: fixed;
	z-index: -1;
	height:700px;
}
.cell3{
	vertical-align: middle;
	text-align: center;
	background-color:white;
	position:absolute;
	top:200px;
	left:30%;
	height:200px;
	width:38%;
	padding:15px;
}
.cell3 h2{
	font-size: 42px;
}
.cell3 p{
	font-size:20px;
}
.main3{
    height:auto;
    width:100%;
    background-color:#C8E379;
    font-family:'JosefinSans-Regular';
}
.cell4{
    vertical-align: middle;
    padding:30px;
    text-align: center;
}
a button{
    background:white;
    display:inline-block;
    padding:20px;
    margin-left:20px;
    transition-duration: 0.4s;
    font-weight:bold;
    border-radius:8px;
    border:#935eff;
}
a button:hover{
    color:white;
    transform: scale(1.5);
}
#curiozitate{
    border:#76787a;
}
#curiozitate:hover{
    background:url("../imagini/questionmark.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
#alge{
    border:#3DAA4B;
}
#alge:hover{
    background:url("../imagini/coperta-alga-klammath.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
#bact{
    border:blue;
}
#bact:hover{
    background:url("../imagini/bact.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}